[modify_input]

# ------------------------------------------------------------------------
# .cfg file with inputs for mesh_mask_modifier.
#
# We advise users to make a copy of this file that they can change freely,
# rather than changing this "template" file.
#
# Variables with FILL_THIS_IN must be specified.
# Variables with values already set, may be changed to other values. If
# they get omitted, they will obtain the same default values found here.
# Variables with UNSET may be specified.
# ------------------------------------------------------------------------

# Paths and names of input datasets (str)
mesh_mask_in = /cluster/projects/nn9188k/irismuz/additional_files/ESMFmesh_Fennoscandia0.05x0.1_hist_78pfts_CMIP6_simyr2005_c251003.nc

# Paths and names of output datasets (str)
mesh_mask_out = /cluster/projects/nn9188k/irismuz/additional_files/ESMFmesh_Fennoscandia0.05x0.1_hist_78pfts_CMIP6_simyr2005_c251004_lnd_mask.nc

# Global user-defined landmask file:
# Variable landmask needed by the mesh_mask_modifier tool.
# Variable mod_lnd_props needed by the fsurdat_modifier tool.
# - landmask is the global land/ocean mask = 0 or 1.
# - mod_lnd_props = 0 or 1 where 1 represents existing or new land
# where the user wishes to modify fsurdat (i.e. surface dataset) properties.
# -----------------------------------
landmask_file = /cluster/projects/nn9188k/irismuz/additional_files/landmask_from_domain.lnd.Fennoscandia0.05x0.1_3minx3min.210224_new.nc
lat_dimname = nj
lon_dimname = ni
lat_varname = yc
lon_varname = xc
lon_type = 180
